header.header {
  border-bottom: 2px solid #DDD;
  margin-bottom: 24px;
}

header.share-header {
  background: white;
  position: fixed;
  height: 75px;
  border-bottom: 1px solid #ddd;
  left: 0;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  transition: all 0.2s ease-in;
  z-index: 5;
}

header.share-header.active {
  transform: translateY(0);
}

.tagline p {
  float: right;
  margin-top: 1.5em;
  color: #2692d0;
  font-weight: 700;
}

.person-grid {
  border-bottom: 2px solid #DDD;
  adding-bottom: 2em !important;
}

.person-list {
  padding-bottom: 2em !important;
}

.person-size {
  font-size: 1.5em;
  text-align: center;
}

.person-grid ul li {
  padding-bottom: 0;
  padding-left: 2.625rem;
}

.chart-description {
  color: #211C5C;
  font-size: 3em;
}

.chart-statistic {
  color: #211C5C;
  font-size: 2em;
  opacity: 0.5;
}

.key ul li.symbol {
  display: inline-block;
  margin-right: 1em;
  position: relative;
  color: #777;
  font-size: 14px;
  padding-left: 1.5em;
}

.key ul li:before {
  position: absolute;
  left: 0;
  top: 0.25em;
  content: "";
  width: 12px;
  height: 12px;
}

.key ul li.african-american:before {
  background: #211C5C;
}

.key ul li.latino:before {
  background: #2692d0;
}

.key ul li.other:before {
  background: #DDD;
}

sup {
  font-size: 10px;
}

.social-media li {
  list-style: none;
}

.social-media.top {
  margin-top: 0.5em;
  margin-left: 28em;
}

.social-media.top li {
  display: block;
}

.group-picture img {
  border: 1px solid #ccc;
  margin-bottom: 0.5em;
}

.group-picture figcaption {
  font-size: 14px;
}

.mission-statement {
  padding: 4em 0;
  border-bottom: 2px solid #DDD;
}

.mission-statement p {
  font-size: 18px;
  line-height: 1.8;
}

.notecard p {
  color: #555;
}

.notecard {
  display: inline-block;
  padding: 1em;
  border: 1px solid transparent;
  transition: all .2s ease-in-out;
}

.notecard:hover {
  background: rgba(27, 124, 200, 0.025);
  border: 1px solid #ccc;
  border-radius: 3px;
  transform: scale(1.1);
}

.notecard h4 {
  color: #211C5C;
}

.notecard:hover h4 {
  color: #2692d0;
}

.statistics p,
.support p {
  color: #777;
}

.block,
.statistics {
  display: inline-block;
  padding: 4em 2em;
  border-bottom: 2px solid #DDD;
}

.support {
  padding: 4em 2em;
  border-bottom: 2px solid #DDD;
}

.support:last-child {
  border-color: transparent;
}

.mission-statement .title,
.statistics .title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 2em;
}

.statistics h4 {
  text-align: center;
  font-size: 5em;
  font-weight: 300;
}

.btn {
  border-radius: 3px;
  border: 1px solid #CCC;
  display: inline-block;
  padding: 0.5em 1em;
  width: 100%;
  margin-bottom: 0.5em;
  text-align: center;
}

.reference {
  padding-top: 1em;
}

.reference .title {
  font-size: 12px;
  font-weight: 700;
}

.reference li {
  font-size: 12px
}

footer {
  border-top: 2px solid #ccc;
  padding-top: 1em;
}

footer p,
footer a {
  font-size: 14px;
}
