header.header {
  border-bottom: 2px solid #DDD;
  margin-bottom: 24px;
}

.tagline p {
  float: right;
  margin-top: 1.5em;
  color: #2692d0;
  font-weight: 700;
}

.person-grid {
  border-bottom: 2px solid #DDD;
  adding-bottom: 2em !important;
}

.person-list {
  padding-bottom: 2em !important;
}

.person-size {
  font-size: 1.5em;
  text-align: center;
}

.person-grid ul li {
  padding-bottom: 0;
  padding-left: 2.625rem;
}

.chart-description {
  color: #777;
  font-size: 14px;
  margin-left: 1.5em;
  margin-top: 2em;
}

.key ul li.symbol {
  display: inline-block;
  margin-right: 1em;
  position: relative;
  color: #777;
  font-size: 14px;
  padding-left: 1.5em;
}

.key ul li:before {
  position: absolute;
  left: 0;
  top: 0.25em;
  content: "";
  width: 12px;
  height: 12px;
}

.key ul li.african-american:before {
  background: #211C5C;
}

.key ul li.latino:before {
  background: #2692d0;
}

.key ul li.other:before {
  background: #DDD;
}

.mission-statement {
  padding: 4em 2em;
  border-bottom: 2px solid #DDD;
}

.mission-statement h2 {
  text-align: center;
}

.statistics {
  padding: 4em 2em;
  border-bottom: 2px solid #DDD;
}

.statistics h4 {
  text-align: center;
  font-size: 5em;
  font-weight: 300;
}

.share {
  padding: 4em 2em;
}

.btn {
  border-radius: 3px;
  border: 1px solid #CCC;
  display: inline-block;
  padding: 0.5em 1em;
  width: 100%;
  margin-bottom: 0.5em;
  text-align: center;
}

.btn i {
  padding-right: 0.5em;
}

.btn.facebook {
  border-color: #33488C;
  color: #33488C;
}

.btn.facebook:hover {
  background: #EEF6FD;
}

.btn.twitter {
  border-color: #469AEA;
  color: #469AEA;
}

.btn.twitter:hover {
  background: #EEF6FD;
}

footer p {
  font-size: 14px;
}

footer a {
  font-size: 14px;
}
